body{
    background-color: #ffba08;
    color: #353535;
    font-family: "Inter",sans-serif;
}

header{
    background-color: #333333;
    font-family:  "Inter",sans-serif;
}

h1{
    font-size: 41px;
    color: #032b43;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    background: #ff6b35;
    border: 4px solid #032b43;
}

h2{
    text-align: center;
    font-size: 36px;
}


#homepage{
    text-align: center;
    background-color: #FFF4A3;
}

#homepage h2{
    padding: 5px;
    margin: 5px;
}

#html img,
#css img,
#js img,
#git img{
    max-width: 750px;
    max-height: 750px;
    position: relative;
}

section {
    margin: 8px auto;
    padding: 5px;
    width: 88%;
    background-color: #f6e9c9;
    border: 4px solid #032b43;
}

ul{
    list-style-position: inside;
    list-style-type: none;
    font-size: 30px;
    padding: 0;
}
li{
    text-decoration: none;

}

#html{
    background-color: #e0fbfc;
}
#css{
    background-color: #a8dadc;
}
#js{
    background-color: #74c69d;
}
#git{
    background-color: #f4a261;
}

a{
    color: #3d405b;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-size: 43px;
}


p{
    font-size: 20px;
    text-align: center;


}